* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: rgb(2, 39, 81);
  padding: 50px;
}

.app--container {
  margin: 0 auto;
  padding: 0 20px;
  background-color: whitesmoke;
  max-width: 550px;
  height: 600px;
  display: flex;
  flex-direction: column;
}



.card--container {
  width: 400px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

h4 {
  text-align: left;
}

.options {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.op--btn {
  border: 1px solid rgb(0, 13, 109);
  border-radius: 8px;
  height: 30px;
  cursor: pointer;  
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-family: "Inter", sans-serif;
}

.div--check {
  display: flex;
  justify-content: center;
  margin-top: 20px
}

.check--answers {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  height: 35px;
  width: 125px;
  border-radius: 7px;
  border: none;
  background-color: #4D5B9E;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
