* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* App.js Style */

.app--container {
  width: 550px;
  height: 704px;
  margin: 10px auto;
  overflow-y: auto;
  box-shadow: 0 0 8px 1px black;
}

/* NavBar.js Style */

nav {
  background-color: rgb(224, 81, 81);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: fixed;
  width: 550px;
}

nav i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* Card.jsx Style */

.card--container {
  margin: 30px auto;
  height: 168px;
  width: 471px;
  display: flex;
  background-color: rgba(250, 248, 245, 0.9);
  box-shadow: 0 0 3px 1px gray;
  margin-top: 50px

}

.card--container img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card--info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-right: 0px;
}

.fa-location-dot {
  color: rgb(224, 81, 81);
  margin-right: 3px;
}

.card--info span {
  font-size: 14px
}

.google--maps {
  color: gray;
  font-size: 14px;
  color: rgb(53, 52, 52);
  margin: 0px 0px 9px 10px;
}

.card--title {
  font-size: 25px;
  color: rgb(53, 52, 52);
}

.card--date {
  margin: 4px 0;
  font-weight: bold;
  font-size: 10.24px;
  color: rgb(53, 52, 52);

}

.card--description {
  margin-bottom: 7px;
  font-size: 10.24px;
  color: rgb(53, 52, 52);
}