header {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.menu_items {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu_items li, .menu_items a {
    padding: 10px;
    margin: 10px; 
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}

.menu_items a:hover {
    color: #e08c8c93;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e08c8c93;
    padding: 0;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
    
}


.logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
